<!DOCTYPE html><html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Anyplace</title>
</head> 
<body style='overflow:hidden;overflow-y:scroll;width:100%;height:100%;margin:0;padding:0;font-family:"Roboto", Arial, sans-serif;font-size:16px;font-weight:400;line-height:1.5;background-color:#FFF;color:#3d3d3d;'>
   <div class="layout layout_home" id="top">
      <form class="popup__main form" style="display:flex;flex-direction:column;position:relative;width: 100%;height: 100%;/* max-width:94%; *//* max-height:92%; */padding-top:2px;background:#FFF;/* box-shadow:0 30px 50px rgba(0, 0, 0, 0.3); */opacity:0;transition:0.25s ease-out;opacity:1;">
         <div class="popup__head" style="flex:0 0 auto;min-height:89px;padding:30px 15px;border-bottom:1px solid #EEE;box-sizing:border-box;text-align:center;">
            <h4 class="popup__title" style="margin-top:0;margin:0;line-height:1.65;font-size:18px;font-weight:400;">Receipt</h4>
            <div class="popup__close"></div>
         </div>
         <div class="popup__body" style="flex:1 1 auto;overflow:auto;">
            <div class="popup__set" style="border-top:0;padding:30px 15px 15px;">
               <div class="popup__content" style="max-width:640px;margin:0 auto;padding:0 60px;">
                  <div class="">
                     <div class="box__content " style="display:flex;align-items:flex-start;padding:30px 30px 0 30px;box-sizing:border-box;">
                        <div class="box__main text_center" style="flex:1 1 auto;margin-top:-5px;margin-bottom:30px;text-align:center;">
                           <div class="box__header" style="display:flex;flex-direction:column;justify-content:center;min-height:80px;padding:20px 30px 0px;box-sizing:border-box;border-bottom:1px solid #EEE;">
                              <img class="anyplace_logo" alt="Anyplace Logo" src="https://s3-us-west-2.amazonaws.com/client-prod.anyplace.co/assets/images/logo.png" style="width:75px;height:75px;margin:20px auto;">            
                              <h3 class="box__title" style="margin:0 0 13px 0;font-weight:500;color:#242629;">$16.40 at Anyplace inc.</h3>
                              <div class="box__sub" style="margin:-6px 0 13px;color:#999;font-size:14px;line-height:1.2;">INV-000000</div>
                              <div class="box__info text_right" style="font-size:14px;text-align:right;">
                                 <div class="box__item" style="margin-bottom:14px;font-size:14px;">
                                    <div class="box__caption" style="margin-bottom:4px;color:#999;line-height:1.2;">Billed to:</div>
                                    <div class="box__text" style="color:#555;line-height:1.2;">Steve Naito - Visa 4242</div>
                                 </div>
                                 <div class="box__info text_right" style="font-size:14px;text-align:right;">
                                    <div class="box__item" style="margin-bottom:14px;font-size:14px;">
                                       <div class="box__caption" style="margin-bottom:4px;color:#999;line-height:1.2;">Date:</div>
                                       <div class="box__text" style="color:#555;line-height:1.2;">Nov 22, 2018</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="box__invoice" style="margin:30px 0;">
                     <div class="invoice invoice_monthly" style="display:flex;justify-content:space-between;align-items:stretch;color:#777;font-size:14px;">
                        <div class="invoice__box" style="display:flex;flex-direction:column;width:90%;padding:0 30px;box-sizing:border-box;margin:auto;padding-right:0;padding-left:0;">
                           <h4 class="invoice__title text_center" style="margin-top:0;text-align:center;flex:0 0 auto;margin:0 0 20px;font-size:14px; color:#777;">Item &amp; Description</h4>
                           <div class="invoice__list" style="flex:1 1 auto;margin:0;padding:0;list-style:none;">
                              <div class="invoice__item" style="display:flex;justify-content:space-between;align-items:flex-end;margin:12px 0 0; line-height:2; clear: both; text-align: left;">
                                 <span class="invoice__label" style="color:#999; font-size:16px;">Bunkhouse Hotel - Queen Room with Shared Bathroom</span>
                              </div>
                              <div class="invoice__item" style="display:flex;justify-content:space-between;align-items:flex-end;margin:12px 0 0; line-height:2; clear: both; text-align: left; width: 470px">
                                 <span class="invoice__label" style="color:#999; font-size:14px; width: 350px;">Rent for 11/22/2018 - 12/21/2018:</span>
                                 <span class="invoice__value text_right" style="font-size:14px; float: right;">$1640</span>
                              </div>
                              <div class="invoice__item" style="display:flex;justify-content:space-between;align-items:flex-end;margin:12px 0 0; line-height:2; clear: both; text-align: left; width: 470px">
                                 <span class="invoice__label" style="color:#999; font-size:14px; width: 350px;">Refundable Security Deposit:</span>
                                 <span class="invoice__value text_right" style="font-size:14px; float: right;">$100</span>
                              </div>
                              <div class="invoice__footer" style="flex:0 0 auto;display:flex;justify-content:space-between; align-items:center;margin:20px 0 0; padding:15px 0 0;border-top:1px solid #EEE; clear: both; text-align: left;">
                                 <div class="invoice__label" style="color:#999; margin-top:4px; font-size:24px;  width: 350px; float: left;">Total:</div>
                                 <div class="invoice__total text_right" style="color:#C19B76; font-size:24px; float: right;">$1740</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="box__invoice" style="margin:30px 0;">
                     <div class="invoice__box" style="display:flex;flex-direction:column;">
                        <div class="invoice__list" style="flex:1 1 auto;margin:0;padding:0;list-style:none;">
                           <div class="invoice__item" style="display:flex;justify-content:space-between;align-items:flex-end;margin:12px 0 0;line-height:1.5;">           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</body>
</html>